/local/record-radio
/local/record-radioclassica
/local/P
/local/listen-radioclassica
/local/ssh-add-all
/local/wav2mp3
/sys/IPof
/sys/apply
/sys/bak
/sys/cdefn
/sys/cfundef
/sys/del
/sys/editor
/sys/errnoinfo
/sys/nolocale
/sys/pf
/sys/vis
/sys/zap
/sys/strerror
/sys/pkgi
/sys/xrm
